<nav class="navbar bg-primary fixed-top">
    <div class="container-fluid">
        <img src="../../../assets/Image/icons/menu.png" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
    </div>
</nav>

<div class="offcanvas offcanvas-start custom-offcanvas" tabindex="-1" id="offcanvasSidebar"
    aria-labelledby="offcanvasSidebarLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <li class="nav-item">
                <p class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active"
                    (click)="navigateTo('/admin/dashboard')">Dashboard</p>
            </li>
            <li class="nav-item">
                <p class="nav-link" routerLink="/admin/appointments" routerLinkActive="active"
                    (click)="navigateTo('/admin/appointments')">Appointments</p>
            </li>
            <li class="nav-item">
                <p class="nav-link" routerLink="/admin/doctor" routerLinkActive="active"
                    (click)="navigateTo('/admin/doctor')">Doctor</p>
            </li>
            <!-- Staff Dropdown -->
            <li class="nav-item dropdown">
                <p class="nav-link dropdown-toggle" id="staffDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Staff
                </p>
                <ul class="dropdown-menu" aria-labelledby="staffDropdown">
                    <li>
                        <p class="dropdown-item" (click)="navigateTo('/admin/staff')">Staff List</p>
                    </li>
                    <li>
                        <p class="dropdown-item" (click)="navigateTo('/admin/staff/add-staff')">Add Staff</p>
                    </li>
                    <li>
                        <p class="dropdown-item" (click)="navigateTo('/admin/staff/staff-leaves')">Leaves</p>
                    </li>
                    <li>
                        <p class="dropdown-item" (click)="navigateTo('/admin/staff/staff-holidays')">Holidays</p>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <p class="nav-link" routerLink="/admin/patient" routerLinkActive="active"
                    (click)="navigateTo('/admin/patient')">Patients</p>
            </li>
            <li class="nav-item">
                <p class="nav-link" routerLink="/operations" routerLinkActive="active"
                    (click)="navigateTo('/operations')">Operations</p>
            </li>
            <li class="nav-item">
                <p class="nav-link" routerLink="/earnings" routerLinkActive="active" (click)="navigateTo('/earnings')">
                    Earnings</p>
            </li>
            <li class="nav-item">
                <p class="nav-link" routerLink="/logout" routerLinkActive="active" (click)="navigateTo('/logout')">
                    Logout</p>
            </li>
        </ul>
    </div>
</div>