<nav class="navbar bg-primary fixed-top">
    <div class="container-fluid">
        <img src="../../../assets/Image/icons/menu.png" class="menu-icon" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
    </div>
</nav>

<div class="offcanvas offcanvas-start custom-offcanvas" tabindex="-1" id="offcanvasSidebar"
    aria-labelledby="offcanvasSidebarLabel">
    <div class="offcanvas-header d-flex justify-content-end">
        <img src="../../../assets/Image/icons/menu-2.png" class="close-icon" type="button" data-bs-dismiss="offcanvas"
            aria-label="Close">
    </div>
    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <li class="nav-item">
                <p class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active"
                    (click)="navigateTo('/admin/dashboard')">
                    <img src="../../../assets/Image/icons/dashboard.png" width="24" height="24">
                    Dashboard
                </p>
            </li>
            <li class="nav-item">
                <p class="nav-link" routerLink="/admin/appointments" routerLinkActive="active"
                    (click)="navigateTo('/admin/appointments')">
                    <img src="../../../assets/Image/icons/appointment-book.png" width="24" height="24">
                    Appointments
                </p>
            </li>
            <li class="nav-item">
                <p class="nav-link" routerLink="/admin/doctor" routerLinkActive="active"
                    (click)="navigateTo('/admin/doctor')">
                    <img src="../../../assets/Image/icons/man.png" width="24" height="24">
                    Doctor
                </p>
            </li>
            <li class="nav-item">
                <p class="nav-link" routerLink="/admin/staff" routerLinkActive="active"
                    (click)="navigateTo('/admin/staff')">
                    <img src="../../../assets/Image/icons/multiple-users-silhouette.png" width="24" height="24">
                    Staff List
                </p>
            </li>
            <li class="nav-item">
                <p class="nav-link" routerLink="/admin/staff/staff-leaves" routerLinkActive="active"
                    (click)="navigateTo('/admin/staff/staff-leaves')">
                    <img src="../../../assets/Image/icons/exit.png" width="24" height="24">
                    Leaves
                </p>
            </li>
            <li class="nav-item">
                <p class="nav-link" routerLink="/admin/staff/staff-holidays" routerLinkActive="active"
                    (click)="navigateTo('/admin/staff/staff-holidays')">
                    <img src="../../../assets/Image/icons/beach-umbrella.png" width="24" height="24">
                    Holidays
                </p>
            </li>

            <li class="nav-item">
                <p class="nav-link" routerLink="/admin/patient" routerLinkActive="active"
                    (click)="navigateTo('/admin/patient')">
                    <img src="../../../assets/Image/icons/inpatient.png" width="26" height="26">
                    Patients
                </p>
            </li>
            <li class="nav-item">
                <p class="nav-link" routerLink="/admin/allotment" routerLinkActive="active"
                    (click)="navigateTo('/admin/allotment')">
                    <img src="../../../assets/Image/icons/living-room.png" width="26" height="26">
                    Room Allotment
                </p>
            </li>
            <li class="nav-item">
                <p class="nav-link" routerLink="/admin/medicine" routerLinkActive="active"
                    (click)="navigateTo('/admin/medicine')">
                    <img src="../../../assets/Image/icons/medicines.png" width="24" height="24">
                    Medicine
                </p>
            </li>
            <li class="nav-item">
                <p class="nav-link" routerLink="/admin/inventory" routerLinkActive="active"
                    (click)="navigateTo('/admin/inventory')">
                    <img src="../../../assets/Image/icons/product-management.png" width="24" height="24">
                    Stock
                </p>
            </li>
            <li class="nav-item">
                <p class="nav-link" routerLink="/logout" routerLinkActive="active" (click)="navigateTo('/logout')">
                    <img src="../../../assets/Image/icons/logout.png" width="24" height="24">
                    Logout
                </p>
            </li>
        </ul>
    </div>
</div>
<div class="scrollToTop" *ngIf="showScrollButton" (click)="scrollToTop()">
    <img src="../../../assets/Image/icons/right.png" width="18" height="18">
</div>