p {
    color: white;
    transition: color 0.2s, background-color 0.2s, border-radius 0.2s;
    display: block;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

p:hover {
    color: #d1d5db;
    background-color: rgba(255, 255, 255, 0.204);
    cursor: pointer;
}

p.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #d1d5db;
}

.offcanvas {
    background-color: #2e37a4;
    color: white;
    width: 250px;
}

.custom-offcanvas {
    border-radius: 0 20px 20px 0;
}

.nav-link.active {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.323);
}

/* Additional styles for dropdown items */
.dropdown-menu {
    background-color: white;
}

.dropdown-item {
    color: black;
    padding: 8px 16px;
    transition: color 0.2s, background-color 0.2s, border-radius 0.2s;
}

.dropdown-item:hover {
    color: #d1d5db;
    background-color: rgba(255, 255, 255, 0.204);
}