p {
    color: white;
    transition: color 0.3s, background-color 0.3s, border-radius 0.3s;
    display: block;
    padding: 12px 18px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

p:hover {
    color: #d1d5db;
    background-color: rgba(255, 255, 255, 0.1);
}

p.active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #d1d5db;
}

.offcanvas {
    background-color: #1d2951;
    color: white;
    width: 280px;
}

.custom-offcanvas {
    border-radius: 0 20px 0px 0;
    box-shadow: 5px 0 15px rgba(255, 255, 255, 0.935);
}

.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.scrollToTop {
    background-color: #1d2951;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    z-index: 99;
    cursor: pointer;
}

.chat-bottom {
    background-color: #1d2951;
    color: white;
    position: fixed;
    bottom: 10%;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    z-index: 99;
    cursor: pointer;
}

.scrollToTop,
.chat-bottom:hover {
    background-color: #172241;
}

.menu-icon,
.close-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.nav-item img {
    margin-right: 10px;
}

.user-icon {
    background: #f4f5fa;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1d2951;
}

::-webkit-scrollbar-thumb {
    background-color: #a4a9d8;
    border-radius: 10px;
    border: 2px solid #1d2951;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a4a9d8;
}