<div class="container">
    <div class="page-header">
    </div>
    <div class="good-morning-blk">
        <div class="row">
            <div class="col-md-6">
                <div class="morning-user">
                    <h2>Good Morning, <span>Daniel Bruk</span>
                    </h2>
                    <p>Have a nice day at work</p>
                </div>
            </div>
            <div class="col-md-6 position-blk">
                <div class="morning-img">
                    <!-- <img src="../../../assets/Image/bg-dashbaord.png" alt=""> -->
                    <img src="../../../assets/Image/patient.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <div class="dash-boxs comman-flex-center"><img src="../../../assets/Image/icons/calendar.svg" alt="">
                </div>
                <div class="dash-content dash-count">
                    <h4>Appointments</h4>
                    <h2><span class="counter-up">250</span>
                    </h2>
                    <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>40%</span> vs
                        last month</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <div class="dash-boxs comman-flex-center"><img src="../../../assets/Image/icons/profile-add.svg" alt="">
                </div>
                <div class="dash-content dash-count">
                    <h4>New Patients</h4>
                    <h2><span class="counter-up">140</span>
                    </h2>
                    <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>20%</span> vs
                        last month</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <div class="dash-boxs comman-flex-center"><img src="../../../assets/Image/icons/scissor.svg" alt="">
                </div>
                <div class="dash-content dash-count">
                    <h4>Operations</h4>
                    <h2><span class="counter-up">56</span>
                    </h2>
                    <p><span class="negative-view"><i class="feather icon-arrow-down-right me-1"></i>15%</span>
                        vs last month</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <div class="dash-boxs comman-flex-center"><img src="../../../assets/Image/icons/empty-wallet.svg"
                        alt=""></div>
                <div class="dash-content dash-count">
                    <h4>Earnings</h4>
                    <h2>$<span class="counter-up">20,250</span></h2>
                    <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>30%</span> vs
                        last month</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <div class="dash-boxs comman-flex-center">
                    <img src="../../../assets/Image/icons/calendar.svg" alt="">
                </div>
                <div class="dash-content dash-count">
                    <h4>Upcoming Appointments</h4>
                    <h2><span class="counter-up">3</span></h2>
                    <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>1 more than last
                            month</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <div class="dash-boxs comman-flex-center">
                    <img src="../../../assets/Image/icons/health-report.svg" alt="">
                </div>
                <div class="dash-content dash-count">
                    <h4>Treatment History</h4>
                    <h2><span class="counter-up">5</span></h2>
                    <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>1 new treatment</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <div class="dash-boxs comman-flex-center">
                    <img src="../../../assets/Image/icons/notification.svg" alt="">
                </div>
                <div class="dash-content dash-count">
                    <h4>Notifications</h4>
                    <h2><span class="counter-up">2</span></h2>
                    <p><span class="negative-view"><i class="feather icon-arrow-down-right me-1"></i>1 less than last
                            month</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
            <div class="dash-widget">
                <div class="dash-boxs comman-flex-center">
                    <img src="../../../assets/Image/icons/health-check.svg" alt="">
                </div>
                <div class="dash-content dash-count">
                    <h4>Health Status</h4>
                    <h2><span class="counter-up">Stable</span></h2>
                    <p><span class="passive-view"><i class="feather icon-arrow-up-right me-1"></i>No changes</span></p>
                </div>
            </div>
        </div>
    </div>
</div>